body{
    background-image: url(Rectangle\ 3\(1\).png);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Gabarito";
}

.container{
    max-width: 1240px;
    margin: 0 auto;
    padding-top: 60px;
}

.header-top{
    display: flex;
    justify-content: space-between;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.nav-1{
    text-decoration: none;
    color: white;
    padding: 15px;
    font-size: 15px;
}

.nav-1:hover{
    color: rgba(181, 181, 181, 0.685);
}

.sale{
    padding-top: 120px;
}

.text-sale{
    text-decoration: none;
    color: white;
    padding: 20px 30px;
    margin: 10px 20px;
    border-radius: 20px;
    background-color: #F55656;
}

.xiaomi{
    padding-top: 43px;
    color: white;
}

.xi-1{
    font-size: 48px;
}

.xi-2{
    font-size: 96px;
}

.after-text{
    font-size: 25px;
    color: rgba(255, 255, 255, 0.452);
}

.buy{
    padding-top: 90px;
}

.press-buy{
    text-decoration: none;
    color: white;
    padding: 20px 30px;
    margin: 10px 20px;
    border-radius: 20px;
    background-color:  #F58D56;
}

.press-buy:hover{
    background-color: #9f5933;
}

.watch{
    position: relative;
    bottom: 900px;
    left: 700px;
}

.money{
    position: relative;
    bottom: 200px;
    left: 610px;
}